{% block copyright %}
    {% trans "Copyright" %} &copy; {{ pubdate|date:"Y" }} {{ author_name }}.
{% endblock %}
{% blocktrans rights %}{% endblocktrans %}
{% block attribution %}
    {% trans "The article" %} <em><a title="{{ content_title }}" href="{{ content_url }}">{{ content_title }}</a></em>
    {% trans "by" %} <em><a title="{{ author_name }}" href="{{ author_url }}">{{ author_name }}</a></em>,
{% endblock %}
{% trans "unless otherwise expressly stated" %},
{% block terms %}{% endblock %}
{% block extra_perms %}
    {% if extra_perms_url %}
        {% trans "Terms and conditions beyond the scope of this license may be available at" %}
        <a title="{{ extra_perms_title }}" href="{{ extra_perms_url }}">{{ extra_perms_title }}</a>.
    {% endif %}
{% endblock %}
