{% extends "content_licenses/base.html" %}

{% load i18n %}

{% block copyright %}{% endblock %}

{% block terms %}
{% trans "is released in the <strong>Public Domain</strong> and all intellectual property rights are waived by the author. Therefore, it may be freely reproduced, distributed, transmitted, used, modified, built upon, or otherwise exploited by anyone for any purpose, commercial or non-commercial, and in any way, including by methods that have not yet been invented or conceived." %}
{% endblock %}

{% block extra_perms %}{% endblock %}
